In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
#1. Merge All AFDB Dataset into one CSV
import os

dataset_folder = 'dataset/'
filenames = []
for filename in os.listdir(dataset_folder):
    if filename.find("sequence_6s_2_ch.csv") > -1 and filename.find("AFDB_") > -1:
        filenames.append(filename)

In [3]:
filenames

['AFDB_04015_sequence_6s_2_ch.csv',
 'AFDB_04043_sequence_6s_2_ch.csv',
 'AFDB_04048_sequence_6s_2_ch.csv',
 'AFDB_04126_sequence_6s_2_ch.csv',
 'AFDB_04746_sequence_6s_2_ch.csv',
 'AFDB_04908_sequence_6s_2_ch.csv',
 'AFDB_04936_sequence_6s_2_ch.csv',
 'AFDB_05091_sequence_6s_2_ch.csv',
 'AFDB_05121_sequence_6s_2_ch.csv',
 'AFDB_05261_sequence_6s_2_ch.csv',
 'AFDB_06426_sequence_6s_2_ch.csv',
 'AFDB_06453_sequence_6s_2_ch.csv',
 'AFDB_06995_sequence_6s_2_ch.csv',
 'AFDB_07162_sequence_6s_2_ch.csv',
 'AFDB_07859_sequence_6s_2_ch.csv',
 'AFDB_07879_sequence_6s_2_ch.csv',
 'AFDB_07910_sequence_6s_2_ch.csv',
 'AFDB_08215_sequence_6s_2_ch.csv',
 'AFDB_08219_sequence_6s_2_ch.csv',
 'AFDB_08378_sequence_6s_2_ch.csv',
 'AFDB_08405_sequence_6s_2_ch.csv',
 'AFDB_08434_sequence_6s_2_ch.csv',
 'AFDB_08455_sequence_6s_2_ch.csv']

In [4]:
dfs = []
for name in filenames :
    df = pd.read_csv(dataset_folder + name, header=None)
    dfs.append(df)

In [5]:
dfs_all = pd.concat(dfs, ignore_index=True)

In [6]:
dfs_all.tail()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000
9534,0.040188,0.061562,0.033970,-0.002524,0.009944,0.046893,0.032649,0.000597,0.004152,0.034409,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9535,0.009479,0.053056,0.068543,0.036495,0.058463,0.104197,0.115357,0.063852,0.057714,0.083978,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9536,0.032503,0.004144,0.062533,0.225464,0.406188,0.575789,0.738710,0.941657,1.000000,0.791389,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9537,0.048343,0.066487,0.027344,0.027860,0.076849,0.086175,0.038210,0.040917,0.085481,0.132239,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9538,0.049574,0.031065,0.019237,0.014091,0.022308,0.019387,-0.014721,-0.008738,0.008378,0.003220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF

In [7]:
dfs_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9539 entries, 0 to 9538
Columns: 3001 entries, 0 to 3000
dtypes: float64(3000), object(1)
memory usage: 218.4+ MB

In [8]:
dfs_all.to_csv(dataset_folder + "AFDB_all.csv", index=None, header=None)

In [9]:
#2. Merge All NSRDB Dataset into one CSV
dataset_folder = 'dataset/'
filenames = []
for filename in os.listdir(dataset_folder):
    if  filename.find("sequence_6s_2_ch.csv") > -1 and filename.find("NSRDB_") > -1:
        filenames.append(filename)

In [10]:
filenames

['NSRDB_16265_sequence_6s_2_ch.csv',
 'NSRDB_16272_sequence_6s_2_ch.csv',
 'NSRDB_16273_sequence_6s_2_ch.csv',
 'NSRDB_16420_sequence_6s_2_ch.csv',
 'NSRDB_16483_sequence_6s_2_ch.csv',
 'NSRDB_16539_sequence_6s_2_ch.csv',
 'NSRDB_16773_sequence_6s_2_ch.csv',
 'NSRDB_16786_sequence_6s_2_ch.csv',
 'NSRDB_16795_sequence_6s_2_ch.csv',
 'NSRDB_17052_sequence_6s_2_ch.csv',
 'NSRDB_17453_sequence_6s_2_ch.csv',
 'NSRDB_18177_sequence_6s_2_ch.csv',
 'NSRDB_18184_sequence_6s_2_ch.csv',
 'NSRDB_19088_sequence_6s_2_ch.csv',
 'NSRDB_19090_sequence_6s_2_ch.csv',
 'NSRDB_19093_sequence_6s_2_ch.csv',
 'NSRDB_19140_sequence_6s_2_ch.csv',
 'NSRDB_19830_sequence_6s_2_ch.csv']

In [11]:
normal_dfs = []
for name in filenames :
    normal_df = pd.read_csv(dataset_folder + name, header=None)
    normal_dfs.append(normal_df)

In [12]:
normal_dfs_all = pd.concat(normal_dfs, ignore_index=True)

In [13]:
normal_dfs_all.tail()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000
3849,-0.025718,-0.021768,-0.017818,-0.009118,-0.000418,-0.005962,-0.011505,-0.007545,-0.003585,0.000383,...,0.030835,0.034957,0.029614,0.024271,0.028457,0.032642,0.036857,0.041072,0.040566,N
3850,0.033876,0.210560,0.387245,0.596521,0.805798,0.847456,0.889113,0.548970,0.208827,0.101477,...,0.105968,0.104379,0.107453,0.110528,0.104299,0.098070,0.091850,0.085630,0.074764,N
3851,0.029743,0.026052,0.022361,0.032817,0.043274,0.049014,0.054755,0.065211,0.075667,0.081406,...,0.153638,0.156571,0.154885,0.153198,0.165753,0.178307,0.172086,0.165864,0.164442,N
3852,-0.001608,0.001555,0.004717,-0.001267,-0.007250,-0.004088,-0.000925,-0.002335,-0.003745,-0.005154,...,0.118899,0.117053,0.115162,0.113272,0.115915,0.118558,0.121168,0.123777,0.126356,N
3853,-0.004720,-0.000030,0.004660,0.000794,-0.003072,-0.006938,-0.010804,0.002444,0.015692,0.011829,...,0.033088,0.032506,0.027676,0.022846,0.022324,0.021802,0.025586,0.029371,0.024627,N

In [14]:
normal_dfs_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Columns: 3001 entries, 0 to 3000
dtypes: float64(3000), object(1)
memory usage: 88.2+ MB

In [15]:
normal_dfs_all.to_csv(dataset_folder + "NSRDB_all.csv", index=None, header=None)

In [17]:
#3. Remove Normal Sample from AFDB(train&test)
dfs_all_AF = dfs_all[dfs_all[3000] == 'AF']

In [18]:
dfs_all_AF.tail()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000
9534,0.040188,0.061562,0.033970,-0.002524,0.009944,0.046893,0.032649,0.000597,0.004152,0.034409,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9535,0.009479,0.053056,0.068543,0.036495,0.058463,0.104197,0.115357,0.063852,0.057714,0.083978,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9536,0.032503,0.004144,0.062533,0.225464,0.406188,0.575789,0.738710,0.941657,1.000000,0.791389,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9537,0.048343,0.066487,0.027344,0.027860,0.076849,0.086175,0.038210,0.040917,0.085481,0.132239,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF
9538,0.049574,0.031065,0.019237,0.014091,0.022308,0.019387,-0.014721,-0.008738,0.008378,0.003220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AF

In [19]:
#4. Concate AFDB & NSRDB Dataset
dfs_AF_N = pd.concat([dfs_all_AF, normal_dfs_all])

In [20]:
#5. Balancing Dataset(After Concating with NSRDB)
dfs_AF_N[3000]=dfs_AF_N[3000]
equilibre=dfs_AF_N[3000].value_counts()

print(equilibre)

AF    4604
N     3854
Name: 3000, dtype: int64

In [22]:
from sklearn.utils import resample

dfs = []
n_samples = int(equilibre.mean())
print("Resample to", n_samples)
for i, key in enumerate(equilibre.keys()):
    dfs.append(dfs_AF_N[dfs_AF_N[3000]==key])
    dfs[i]=resample(dfs[i],replace=True,n_samples=n_samples,random_state=123)
df_AF_N_balanced =pd.concat(dfs)

Resample to 4229

In [23]:
df_AF_N_balanced.to_csv(dataset_folder + "AFDB_NSRDB_all.csv", index=None, header=None)